NET clock LOC = B8;
NET reset_btn LOC = B18;
NET catod(6) LOC = L18;
NET catod(5) LOC = F18;
NET catod(4) LOC = D17;
NET catod(3) LOC = D16;
NET catod(2) LOC = G14;
NET catod(1) LOC = J17;
NET catod(0) LOC = H14;
NET anod(3) LOC = F15;
NET anod(2) LOC = C18;
NET anod(1) LOC = H17;
NET anod(0) LOC = F17;
NET enter_btn LOC = D18;
NET cancel_btn LOC = E18;
NET start_btn LOC = H13;
NET input(7) LOC = R17;
NET input(6) LOC = N17;
NET input(5) LOC = L13;
NET input(4) LOC = L14;
NET input(3) LOC = K17;
NET input(2) LOC = K18;
NET input(1) LOC = H18;
NET input(0) LOC = G18;
NET q(7) LOC = R4;
NET q(6) LOC = F4;
NET q(5) LOC = P15;
NET q(4) LOC = E17;
NET q(3) LOC = K14;
NET q(2) LOC = K15;
NET q(1) LOC = J15;
NET q(0) LOC = J14;